# https://help.github.com/articles/about-codeowners/
# Last matching pattern takes preecedence.

# Default owners for everything in repo.
*  @tensorflow/docs-team

# Courses
/courses/ @josbecker @MarkDaoust

# TF Lite
/lite/ @khanhlvg @lu-wang-g
/tensorflow_examples/lite/ @ziyeqinghan @khanhlvg @lu-wang-g