<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:taskAffinity=""
      android:theme="@style/AppTheme.TFLite">
    <activity
        android:name="com.google.samples.gms.tflite.c.MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

  <queries>
    <package android:name="com.google.android.gms.policy_tflite_dynamite_dynamite" />
  </queries>

</manifest>
