tf-models-official==2.3.0
tensorflow-hub>=0.8.0
numpy>=1.17.3
pillow>=7.0.0
sentencepiece>=0.1.91
tensorflow-datasets>=2.1.0
fire>=0.3.1
flatbuffers==1.12
absl-py>=0.10.0
tflite-support==0.1.0rc3.dev2
tf-nightly==2.4.0.dev20200811
tf-estimator-nightly==2.4.0.dev2020081101
