tf-models-nightly
tf-hub-nightly
numpy>=1.17.3
pillow>=7.0.0
sentencepiece>=0.1.91
tfds-nightly
fire>=0.3.1
flatbuffers==1.12
absl-py<0.11>=0.10.0
urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
tflite-support-nightly
tf-nightly
librosa>=0.5
